{% extends 'webapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9 b-font">
        <br>
        <h2>支出削除</h2>
        <br>
        <div class="alert alart-danger" role="" alaert>
            <form method="post">
                {% csrf_token %}
                <p>以下の内容を本当に削除しますか？</p>
                <input type="submit" class="btn btn-danger" value="削除する">
            </form>

        </div>
        <br>
        <P>支出名</P>
        {{ object.name }}
        <hr>
        <p>帳簿</p>
        {{ object.journal }}
        <hr>
        <p>金額</p>
        {{ object.value }}
        <hr>
        <p>カテゴリー</p>
        {{ object.get_category_display }}
        <br>
        <br>
    </div>

</div>

{% endblock %}