{% extends 'webapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 b-font">
        <br>
        <h2>Login</h2>
        <br>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for filed in form %}
                {{ field.label }}
                {{ filed }}
                {{ field.errors }}
            <br>
            {% endfor %}

            <button type="submit" class="btn btn-primary ">ログイン</button>
            <br> <br>

            <a class="border border-primary d-flex justify-content-around align-items-center rounded" style="width: 40%; text-decoration: none;" href="{% url 'social:begin' 'google-oauth2' %}">
                <i class="fab fa-google"></i>
                <h5 class="">Googleでログイン</h5>
            </a>

            <a href="{% url 'webapp:signup' %}"><h5>新規ユーザー登録はこちら</h5></a>

        </form>
    </div>

</div>
{% endblock %}